<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcHov7uNjAg0WTpyxW1vaA0zWr2-la-_o</string>
	<key>GCM_SENDER_ID</key>
	<string>759766781101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mxtp.PushLearn</string>
	<key>PROJECT_ID</key>
	<string>fir-pushlearn-480cb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pushlearn-480cb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759766781101:ios:9ade9b0a677f3023908a24</string>
</dict>
</plist>